@page "{id:int}"
@model HospitalManagementSystem.Pages.Doctors.EditModel

<h2>Edit Doctor</h2>

<form method="post" class="card p-4 shadow-sm bg-white">
    <input type="hidden" asp-for="Doctor.Id" />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Doctor.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Specialization</label>
        <input asp-for="Doctor.Specialization" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input asp-for="Doctor.Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Doctor.Email" class="form-control" />
    </div>

    <button class="btn btn-primary">Update</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
